
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    padding-top:50px;
    display:flex;
    flex-direction:column;
    min-width: 100%;
    min-height:100vh;
    background-image: url("../images/pexels-karolina-grabowska-4963817.jpg");
    /*background: linear-gradient(to bottom, #000000, #aa90f3); /* Black to sand gradient */
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    width:100%;
    /*color:#ffffff;*/
    align-items: center;
    position: relative;
    align-content: space-around; 
}
main{
    flex-grow: 1;
    padding: 1rem;
    padding-bottom: -80px;
}

/*.content-box {
    /*background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    /*background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 80px ;*/
    /*margin-top:100px;
    margin-bottom: -150px;*/
    /*padding-bottom:60px;*/
    /*border-radius: 10px;
    max-width: 100%; 
    color: #ffffff;
    max-height:fit-content;
    justify-content: space-between;
    flex-grow:1;
}*/

.home-content-box,.menu-content-box,
.login-container{
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 120px ;
    margin-top:100px;
    color: #ffffff;
    border-radius: 10px;
    justify-content: space-between

}
.menu-content-box{
    max-width: 80%;
  
}
.login-container{
    position:fixed;
    margin:60px;
    margin-left: 0px;
}

.content {
    flex: 1; /* Takes up remaining space to push the footer down */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

header, footer {
    position:fixed ; /* Ensure text content is above the background */
    flex-grow:1;
    height:fit-content;
    height:min-content;
    
}
/* Footer styling */
footer{
    margin-top:auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
    background-color: #ffffff; 
}

.btn{
    background: ;
}


/*Update page styling*/page
th{
    text-align:center;
}
.center{
    text-align: center;
}
.error-message {
    color: red;
    font-weight: bold;
}

/*Navbar styling*/

.navbar-brand h1{
    color:#FF4500;
    font-size: 2rem;
    font-weight:bold;
}
.navbar-toggler{
    border-color:#ffffff;
}
.nav-link {
    color: #fff !important; 
    font-size: 1rem;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #FF4500 !important; /*hover effect to gold*/
}

.navbar-custom{
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow:0 3px 10px rgba(0,0,0,0.50); 
}
.navbar-custom .nav-link {
    color: #ffffff; 
}
.navbar-custom .navbar-brand {
    color: #ffffff; 
}



/*home page styling */

.title,.heading{
    text-align: center;
    color:#FF4500;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 300;
}
.sub-title{
    text-align: center;
    color:#fc7e51;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

/* Menu page styling*/

.bold-text{
    font-weight: 400;
}
.table thead th {
    background-color: #000000; /* Header background color */
    color:#fc7e51; /* Header text color */
    text-align: center;
}
.table tbody tr:nth-child(even) {
    background-color: rgba(252, 181, 99, 0.1); /* Alternate row background color */
}

.table tbody td {
    text-align: center;
    color:#ffffff;
}

/* Login form styling */

.form-center{
    margin-bottom:20px;
}

.login-container{
    margin-left:auto;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* space between buttons as needed */
}

.new-user-text {
    display: inline-block;
    margin: 0;
    margin-top:20px;
    padding-left: 10px; /* Space between "new user?" text and the button */
}

.new-user-text a {
    color: #fc7e51;; 
    text-decoration: none;
    padding-left: 5px; 
}
.center-content {
    text-align: center;
    margin-top: -20px; /* Adjust the margin as needed */
}

.new-user-text a:hover {
    text-decoration: underline;
}
.btn-color{
    background-color: #fc7e51;;
    color:#000000;
}
.btn-color:hover{
    background-color:#ffffff;
}


/*booking table form*/


.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
    background-color: #ffffff;
    color: #000000;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.card-body {
    padding: 2rem;
}

.form-group button {
    margin-top: 1rem;
}

.booking-text-color{
    color:#000000;
}

.booking-content-box{
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 200px ;
    margin-top:70px;
    /*padding-bottom:60px;*/
    border-radius: 10px;
    max-width: 70%; 
    color: #ffffff;
   /* max-height:150%;
    /*display: flex;*/
    justify-content: space-between;
}

/*booing table form styling*/

.form-group label {
    font-weight: bold;
    border-radius:10px;
}
.form-control {
    width: 100%; /* Full width input fields */
    padding: 10px; /* Padding for input fields */
    font-size: 16px; /* Example font size */
    border-radius: 10px;
}
.form-body-color{
   
    /*background-color: #000000;*/
    background: rgba(0, 0, 0, 0.7); 
    color:#ffffff;
}
.text-color{
    color:#ffffff;

}
.alert-success{
    background:green;
    color:#000000;
}
.alert-custom {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
}
.form-control-sm {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust this as needed for vertical centering */

}
