
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body,html{
    height:100vh;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body{
    padding-top:50px;
    display:flex;
    flex-direction:column;
    min-width: 100%;
    background-image: url("../images/pexels-karolina-grabowska-4963817.jpg");
    /*background: linear-gradient(to bottom, #000000, #aa90f3); /* Black to sand gradient */
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    width:100%;
    /*color:#ffffff;*/
    align-items: center;
    position: relative;
    align-content: space-around;
    
}

/*.content-box {
    /*background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    /*background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 80px ;*/
    /*margin-top:100px;
    margin-bottom: -150px;*/
    /*padding-bottom:60px;*/
    /*border-radius: 10px;
    max-width: 100%; 
    color: #ffffff;
    max-height:fit-content;
    justify-content: space-between;
    flex-grow:1;
}*/

.home-content-box{
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 80px ;
    margin-top:100px;
    margin-bottom: -150px;
    max-height:fit-content;
    color: #ffffff;
    border-radius: 10px;
    justify-content: space-between

}

.content {
    flex: 1; /* Takes up remaining space to push the footer down */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.header, .footer, .content {
    position:relative ; /* Ensure text content is above the background */
    z-index: 1;
}

/*Update page styling*/
th{
    text-align:center;
}
.center{
    text-align: center;
}
.error-message {
    color: red;
    font-weight: bold;
}

/*Navbar styling*/

.navbar-brand h1{
    color:#FF4500;
    font-size: 2.5rem;
    font-weight:bold;
}
.navbar-toggler{
    border-color:#ffffff;
}
.nav-link {
    color: #fff !important; 
    font-size: 1rem;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ffcc00 !important; /*hover effect to gold*/
}

.navbar-custom{
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow:0 3px 10px rgba(0,0,0,0.50); 
}
.navbar-custom .nav-link {
    color: #ffffff; 
}
.navbar-custom .navbar-brand {
    color: #ffffff; 
}


/* Footer styling */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: #ffffff; 
}

/*home page styling */

.title{
    text-align: center;
    color:#FF4500;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: 600;
}
.sub-title{
    text-align: center;
    color:#fc7e51;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

/* Menu page styling*/
.menu-content-box{
    max-width: 90%; 
    color:#000000 ;
    background: rgba(2, 2, 2, 0.8); 
    padding: 100px;
    padding-bottom: -100px;
    margin: 70px;
    margin-top:140px;
    margin-bottom: -200px;
    border-radius: 10px;
  
}
.bold-text{
    font-weight: 700;
}
.table thead th {
    background-color: #000000; /* Header background color */
    color:#fc7e51; /* Header text color */
    text-align: center;
}
.table tbody tr:nth-child(even) {
    background-color: rgba(252, 181, 99, 0.1); /* Alternate row background color */
}

.table tbody td {
    text-align: center;
    color:#ffffff;
}

/* Login form styling*/

.login-container{
    background-color:rgba(2, 2, 2, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin-top: 100px;
    margin:auto;
    height:auto;
}
.login-container h2 {
    margin-bottom: 20px;
    font-weight: 500;
    color: #ffffff;
}

.login-container .btn {
    width: 60%; 
    margin-top: 30px;  
    margin-left:70px;
}

.login-container .alert {
    border-radius: 0;
}

.login-container .text-center {
    margin-top: 20px;
}

.login-container a {
    text-decoration: none;
}
.login-text-color{
    color:#ffffff;
}


/*booking table form*/


.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.card-body {
    padding: 2rem;
}

.form-group button {
    margin-top: 1rem;
}

.booking-text-color{
    color:#000000;
}

.booking-content-box{
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 200px ;
    margin-top:70px;
    /*padding-bottom:60px;*/
    border-radius: 10px;
    max-width: 70%; 
    color: #ffffff;
   /* max-height:150%;
    /*display: flex;*/
    justify-content: space-between;
}
