
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body,html{
    height:150%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height:150vh;
    padding-top:50px;
    min-height:100%;
    display:flex;
    flex-direction:column;
    min-width: 100%;
    background-image: url("../images/rice-8092512_1280.jpg");
    /*background: linear-gradient(to bottom, #000000, #aa90f3); /* Black to sand gradient */
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    width:100%;
    color:#ffffff;
    align-items: left;
    position: relative;
}
.content-box {
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    padding: 20px;
    margin: 50px auto;
    margin-top:20px;
    padding-bottom: 60px;
    border-radius: 10px;
    max-width: 100%; 
    min-height:200px;
    color: #ffffff;
    min-height:110%;
    /*display: flex;*/
    justify-content: space-between;
}

.content {
    flex: 1; /* Takes up remaining space to push the footer down */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header, .footer, .content {
    position: relative; /* Ensure text content is above the background */
    z-index: 1;
}

.card {
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #60a0ff;
    color: rgb(8, 8, 8);
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 20px;
}

.card-body {
    padding: 30px;
}

h2.text-center, h3.text-center {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #000000;
    border-color: #e1e3e4;
}

.btn-secondary {
    background-color: #d4d8db;
    border-color: #d2d5d8;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn:hover {
    opacity: 0.9;
}

/*Update page styling*/
th{
    text-align:center;
}
.center{
    text-align: center;
}
.error-message {
    color: red;
    font-weight: bold;
}

/*Navbar styling*/

.navbar-brand h1{
    color:#FF4500;
    font-size: 2.5rem;
    font-weight:bold;
}
.navbar-toggler{
    border-color:#ffffff;
}
.nav-link {
    color: #fff !important; 
    font-size: 1rem;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ffcc00 !important; /*hover effect to gold*/
}

.navbar-custom{
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow:0 3px 10px rgba(0,0,0,0.50); 
}
.navbar-custom .nav-link {
    color: #ffffff; 
}
.navbar-custom .navbar-brand {
    color: #ffffff; 
}


/* Footer styling */
footer{
    margin-top: 50px;
    margin-right: 0px;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
/*home page styling */

.title{
    text-align: center;
    color: #FF4500;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: 600;
}
.sub-title{
    text-align: center;
    color: #ff954f;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
