<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" href="{% static 'jquery\jquery.min.js' %}">-->
</head>
<body>
    <script>
        $(document).ready(function(){
            $(".alert").hide(4000)
        });
    </script>
    <div class="container mt-5 py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="mb-4 text-center text-color form-body-color ">Update Booking</h2>
            </div>
        {% if from.errors %}
            <div class="alert alert-danger alert-custom" role="alert">
                <ul>
                    {% for field,errors in form.errors.items %}
                        <li>{{field}} : {{errors|join:","}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-body form-body-color ">
            {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" class=" form-group " autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-sm btn-color">Update</button>
                    <a href="{% url 'booking'%}" class=" btn-sm btn-color ml-2">Go back booking page</a>
                </div>
            </form>
        </div>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
