
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-6">
        <h2 class="row mt-4">Book a Table</h2>
        <h2> Welcome {{request.user.username}}</h2>
        <form method="post">
            {% csrf_token %}
            {{ booking_form.as_p }}
            <button type="submit" class="btn btn-primary">Book Now</button>
            
            <button type="button" class="btn btn-primary ml-2" onclick="window.location.href='{% url 'home' %}'">LogOut</button>
        </form>
    </div>    
</body>
</html>
