<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">-->
    <!--<link rel="stylesheet" href="/static/fontawesome/css/all.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" href="{% static 'jquery\jquery.min.js' %}">-->
</head>
<body>
    <div class="container-fluid py-4 booking-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="">
                    <div class="card-header form-body-color booking-header">
                        <h2 class="text-center title ">Update Booking</h2>
                    </div>
                    <div class="card-body form-body-color ">
                        <!--<h5 class="text-center text-color">Welcome, {{ request.user.username }}</h5>-->
                        <div id="messages" >
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-custom fade-out" role="alert">           
                                        <p>{{ message }}</p>
                                {% endfor %}
                                    </div>
                            {% endif %}
                        </div>
                        <!--{% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}-->
    
                        <form method="post" class=" form-group " autocomplete="off">
                            {% csrf_token %}
    
                            <!--{{ booking_form.as_p }}-->
                            {{ form.non_field_errors }}

                            <div class="form-group  row">
                                <label for="{{ form.table.id_for_label }}" class="col-sm-3 col-form-label sm-label">Booked Table:</label>
                                <div class="col-sm-9">
                                    {{ form.table}}
                                    {% if form.table.errors %}
                                        <div class="text-danger">
                                            {% for error in form.table.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label for="{{ form.booking_date.id_for_label }}" class="col-sm-3 col-form-label sm-label" >Booking Date:</label>
                                <div class="col-sm-9">
                                    {{ form.booking_date }}
                                    {% if form.booking_date.errors %}
                                        <div class="text-danger">
                                            {% for error in form.booking_date.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.booking_time.id_for_label }}" class="col-sm-3 col-form-label sm-label">Booking Time:</label>
                                <div class="col-sm-9">
                                    {{ form.booking_time}}
                                    {% if form.booking_time.errors %}
                                        <div class="text-danger">
                                            {% for error in form.booking_time.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.phone_number.id_for_label }}" class="col-sm-3 col-form-label sm-label">Phone Number:</label>
                                <div class="col-sm-9">
                                    {{ form.phone_number}}
                                    {% if form.phone_number.errors %}
                                        <div class="text-danger">
                                            {% for error in form.phone_number.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.number_of_guests.id_for_label }}" class="col-sm-3 col-form-label sm-label">Number of Guests:</label>
                                <div class="col-sm-9">
                                    {{ form.number_of_guests }}
                                    {% if form.number_of_guests.errors %}
                                        <div class="text-danger">
                                            {% for error in form.number_of_guests.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group  row">
                                <label  for="{{ form.special_requests.id_for_label }}" class="col-sm-3 col-form-label sm-label">Special Requests:</label>
                                <div class="col-sm-9">
                                    <textarea  class="sp-form-control" name="special_requests" autocomplete="off">{{ booking_form.special_requests.value }}</textarea>
                                    {% if form.special_requests.errors %}
                                        <div class="text-danger">
                                            {% for error in form.special_requests.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>               
                            <div class="buttons text-center">
                                <button type="submit" class="btn btn-color">Update</button>
                                <a href="{% url 'booking' %}" class="btn  btn-color manage-btn ml-2">Cancel</a>
                                <a href="{% url 'user_booking_list' %}" class="btn btn-color manage-btn ml-2">Manage Bookings</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script src="{% static 'js/messages.js' %}"></script>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
