
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Table</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container py-4 ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div>
                    <div class="card-header heading">
                        <h2 class="text-center title">Book a Table</h2>
                    </div>
                    <div class="card-body form-body-color ">
                        <h3 class="text-center text-color">Welcome, {{ request.user.username }}</h3>
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-custom" role="alert">           
                                    <p>{{ message }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
    
                        <form method="post" class=" form-group " autocomplete="off">
                            {% csrf_token %}
    
                            <!--{{ booking_form.as_p }}-->

                            <div class="form-group row">
                                <label for="{{ booking_form.table.id_for_label }}">Select a Table:</label>
                                {{ booking_form.table }}
                            </div>
                            <div class="form-group row">
                                <label for="{{ booking_form.booking_date.id_for_label }}">Booking Date:</label>
                                {{ booking_form.booking_date }}
                                {% if booking_form.booking_date.errors %}
                                    <div class="text-danger">{{ booking_form.booking_date.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label for="{{ booking_form.booking_time.id_for_label }}">Booking Time:</label>
                                {{ booking_form.booking_time }}
                                {% if booking_form.booking_time.errors %}
                                    <div class="text-danger">{{ booking_form.booking_time.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label for="{{ booking_form.phone_number.id_for_label }}">Phone Number:</label>
                                {{ booking_form.phone_number }}
                                {% if booking_form.phone_number.errors %}
                                    <div class="text-danger">{{ booking_form.phone_number.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label for="{{ booking_form.number_of_guests.id_for_label }}">Number of Guests:</label>
                                {{ booking_form.number_of_guests }}
                                {% if booking_form.number_of_guests.errors %}
                                    <div class="text-danger">{{ booking_form.number_of_guests.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label  for="{{ booking_form.special_requests.id_for_label }}">Special Requests:</label>
                                {{ booking_form.special_requests }}
                                {% if booking_form.special_requests.errors %}
                                    <div class="text-danger">{{ booking_form.special_requests.errors }}</div>
                                {% endif %}
                            </div>
                           
                            
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Book Now</button>
                                <button type="button" class="btn btn-primary ml-2" onclick="window.location.href='{% url 'home' %}'">Log Out</button>
                                <a href="{% url 'user_booking_list' %}" class="btn btn-info ml-2">Manage Bookings</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

