{% extends "base.html" %}

{% block content %}
<main>
    <div class=" login-container">
        <!--<div class="col-md-6">-->
            <h2 class="text-center title">Login</h2>
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            <div class="container-fluid align-items-center">
                <form class="form-group mt-4" method="POST" autocomplete="off">
                    <div class="">
                        {% csrf_token %}
                        <!--{{ form.as_p }}-->
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" required id="id_username" >
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" required id="id_password">
                        </div>
                            <div class="row button-container">
                                <div class="col">
                                    <button type="submit" class=" center-content btn btn-color">Login</button>
                                    <p class="new-user-text ">new user? <a href="{% url 'signup' %}">Register</a></p>    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{%endblock%}