<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body >
    <div class="signup-container container-fluid py-4 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="">
                        <div class="card-header form-body-color">  
                            <h2 class="text-center title">Register</h2>
                        </div>
                        <div class="card-body form-body-color">
                            <div id="messages" >
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success alert-custom fade-out" role="alert">           
                                            <p>{{ message }}</p>
                                    {% endfor %}
                                        </div>
                                {% endif %}
                            </div>
                            <form method="post" class="form-group"  aria-hidden="true" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group row ">
                                    <label for="id_first_name" class="col-sm-3 col-form-label sm-label">First Name</label>
                                    <div class="col-sm-9 ">
                                        <input type="text" name="first_name" class="form-control small-input"  id="id_first_name" required help-text="*">
                                        <!--{{ signup_form.first_name }}-->
                                        {% if signup_form.first_name.errors %}
                                            <div class="text-danger">
                                                {% for error in signup_form.first_name.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="form-group row ">
                                    <label for="id_last_name" class="col-sm-3 col-form-label sm-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="last_name" class="form-control  small-input" id="id_last_name" required>
                                        <!--{{ signup_form.last_name }}-->
                                        {% if signup_form.last_name.errors %}
                                            <div class="text-danger">
                                                {% for error in signup_form.last_name.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="id_email" class="col-sm-3 col-form-label sm-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" name="email" class="form-control  small-input"  id="id_email" required>
                                        <!--{{ signup_form.email }}-->
                                        {% if signup_form.email.errors %}
                                            <div class="text-danger">
                                                {% for error in signup_form.email.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="id_username" class="col-sm-3 col-form-label sm-label">Username</label>
                                    <div class="col-sm-9 ">
                                        <input type="text" name="username" class="form-control  small-input" id="id_username" placeholder="'letters, digits, @/./+/-/_'" required>
                                        <!--{{ signup_form.username }}-->
                                        {% if signup_form.username.placeholder %}
                                            <small class=" text-small text-muted">{{ signup_form.username.placeholder }}</small>
                                        {% endif %}
                                        {% if signup_form.username.errors %}
                                            <div class="text-danger">
                                                {% for error in signup_form.username.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="form-group row ">
                                    <label for="id_password1" class="col-sm-3 col-form-label sm-label">Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="password1" class="form-control  small-input" id="id_password1" required>
                                        <!--{{ signup_form.password1 }}-->
                                        {% if signup_form.password1.errors %}
                                            <div class="text-danger">
                                                {% for error in signup_form.password1.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="form-group row "> 
                                    <label for="id_password2" class="col-sm-3 col-form-label sm-label">Confirm Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="password2" class="form-control small-input" id="id_password2" placeholder="Enter same password" required>
                                        <!--{{ signup_form.password2 }}-->
                                        {% if signup_form.password2.placeholder %}
                                            <small class="text-small text-muted">{{ signup_form.password2.placeholder }}</small>
                                        {% endif %}
                                        {% if signup_form.password2.errors %}
                                            <div class="text-danger">
                                                {% for error in signup_form.password2.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="buttons text-center">
                                    <button type="submit" class="btn btn-color ">Submit</button>
                                    <a href="{% url 'login' %}" class="btn btn-color ml-2 manage-btn ">Login</a>
                                    <a href="{% url 'home' %}" class="btn btn-color ml-2 manage-btn ">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/messages.js' %}"></script>  
</body>
</html>
