{% load crispy_forms_tags%}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-control {
            max-width: 300px; /* Adjust this value to control the width */

        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="card-header bg-sucess">Register</h1>
        <div class="card">
            <div class="class-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>